body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
    color: #333;
}

header {
    background-color: #004aad;
    color: white;
    padding: 20px 0;
    text-align: center;

}

header h1 {
    margin: 0;

}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}


section {
    margin: 20px 20px 20px 20px;
    padding: 20px;
    background-color: white;
    border-top: 2px solid#ccc;
    border-radius: 5px;


}

h2 {
    text-align: center;
    color: #444;
}

.about image {
    display: contents;
    margin: auto;
    width: 180px;
    border-radius: 50%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;

}

th,
td {
    border: 1px solid #0052cc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #004aad;
    color: white;
}

.Project {
    margin: 15px auto;
    padding: 15px;
    width: 60%;
    border: 1px solid#ccc;
    background: #f9f9f9;
    border-radius: 5px;

}

.contact form {
    width: 60%;
    margin: auto;

}

.contact table {
    width: 100%;
}

.contact input,.contact textrea {
    width: 90%;
    padding: 8px;
    margin: 5px 0;

}

button {
    padding: 10px 20px;
    background-color: #0052cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 35px;

}

footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;

}
